/* ELEMENTS */

body {
  display: flex;
  background-color: rgb(31, 31, 59);
  color: white;
  height: 993px;
  font-family: Georgia;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

aside {
  background-color: rgb(47, 109, 118);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  font-size: 30px;
}

h1 {
  font-size: 70px;
  margin: 20px;
  color: rgb(186, 86, 154);
}

h2 {
  margin: 0;
  font-size: 50px;
}

/* CLASSES */

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.classic-fighters-container, .difficult-fighters-container, .battle-container {
  margin: 165px;
}

.difficult-fighters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighters {
  width: 180px;
  margin: 20px;
}

.fighters:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.selected-fighters {
  width: 260px;
  margin: 20px;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  border-radius: 1em;
  border: none;
  background-color: rgb(47, 109, 118);
  color: white;
  width: 270px;
  height: 170px;
  margin-top: 120px;
  font-size: 18px;
}

.main-buttons:hover {
  background-color: rgb(144, 107, 132);
  transform: scale(1.1);
  cursor: pointer;
}

.main-button-title {
  font-size: 30px;
}

.change-game-btn {
  margin: 600px 0 0 0;
  border-radius: 1em;
  border: none;
  background-color: rgb(31, 31, 59);
  color: white;
  height: 75px;
  width: 250px;
  font-family: Georgia;
  font-size: 25px;
}

.change-game-btn:hover {
  background-color: rgb(144, 107, 132);
  transform: scale(1.2);
  cursor: pointer;
}

.player-icons {
  font-size: 65px;
  margin: 20px 0 0 0;
}

/* IDS */

#difficult-button {
  height: 210px;
  margin-top: 60px;
}